$dark-blue: #293f6f;
$off-white: #fffdf4;
body {
  background-color: $off-white;
}
.button-link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  display: flex;
  padding: 25px 45px;
  max-width: calc(340px - 90px);
  width: 100%;
  background-color: $dark-blue;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
}
.intro {
  #banner {
    max-width: calc(1130px - 195px * 2);
    height: auto;
    width: 100%;
    margin: 0 auto;
    // height: 787px;
    background: linear-gradient(rgba(255, 253, 244, 0.92) 0%, #fffdf4 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 75px 195px;
    align-items: center;
    justify-content: center;
    gap: 35px;
    #svg-container {
      max-width: 635px;
      width: 100%;
    }
    p {
      font-family: Domine;
      font-weight: normal;
      font-size: 25px;
      line-height: 40px;
      text-align: center;
      color: #2e2e2e;
    }
  }
}
