.cls-1 {
  fill: none;
  stroke: #003d71;
  stroke-miterlimit: 10;
  stroke-width: 0.96px;
}

.cls-2 {
  fill: #f6ba18;
}

.cls-2,
.cls-3 {
  stroke-width: 0px;
}

.cls-3 {
  fill: #003d71;
}

line {
  /* safari needs 300 300 for stroke-dasharray instead of single 300 */
  stroke-dasharray: 50% 50%;
  stroke-dashoffset: 50%;
  stroke: dodgerblue;
  &#right-line {
    stroke-dasharray: -50% -50%;
    stroke-dashoffset: -50%;
  }
}
