---
import Intro from "../components/Intro.astro";
import ParallaxContainer from "../components/Parallax";
import "../styles/home.scss";
import CarouselContainer from "../components/CarouselContainer";
import VideoComponent from "../components/VideoComponent";
import { ParallaxProvider } from 'react-scroll-parallax';

import Layout from "../layouts/Layout.astro";
---

<link
  rel="stylesheet"
  href="https://video-react.github.io/assets/video-react.css"
/>
<Layout title="For the Love of Community">
  <ParallaxProvider>
  
    <!-- <ParallaxContainer
      image="https://tcnj.edu/custom/homepage/img/homepage-slides/fall-23/compressed/slide-1.jpg"
      alt="the cat"
      strength={200}
      client:load
      align="right"
    > -->
    <Intro
      heading="For the Love of Community"
      body="The College of New Jersey has the opportunity to build a new indoor/outdoor structure – the TCNJ Community Hub – that will serve as a setting for community engagement, music and drama rehearsals, visiting and faculty lecturers, competition presentations, and performances. "
      buttonText="Invest in Community"
      buttonLink="https://tcnj.edu"
    />
    <!-- <ParallaxContainer
      image="https://tcnj.edu/custom/homepage/img/homepage-slides/fall-23/compressed/slide-1.jpg"
      alt="the cat"
      strength={200}
      client:load
      align="right"
    > -->
    <h2>Impact</h2>
    <h3>
      The spirit of The College of New Jersey embodies collaboration,
      creativity, accessibility, and inclusion.
    </h3>
    <p>
      The building structure will integrate flexibility, sustainability, and
      efficient space utilization with acoustics and performance technologies.
      Integral to the flexible functionality of the building is a retractable
      door that opens to a covered, multi-purpose outdoor seating area. The
      Pavilion will function year-round in a central location on campus. This
      innovative public space will provide an ideal location for next-level
      partnerships: Think science and business researchers joined by scholars,
      dancers, artists, and linguists to explore their interdisciplinary and
      creative potential.
    </p>
    <button>See Progress</button>
    <CarouselContainer
      carouselImages={[
        { image: "/astro/images/pav-1.jpg", alt: "Pavilion Rendering 1" },
        { image: "/astro/images/pav-2.jpg", alt: "Pavilion Rendering 2" },
        { image: "/astro/images/pav-3.jpg", alt: "Pavilion Rendering 3" },
      ]}
      client:load
    >
      <p>
        The space will feature a retractable, garage-like door and materials
        that blend with the environment while maintaining the signature look and
        feel of TCNJ’s campus.
      </p>
      <button>Download TCNJ Pavilion Campaign Overview</button>
    </CarouselContainer>
    <!-- <VideoComponent client:load /> -->
    <ParallaxContainer client:load/>
  
</ParallaxProvider>
</Layout>
