---
import { Image } from "astro:assets";

import CommunityLogoAnimation from "./CommunityLogoAnimation";
// import CommunityLogoAnimation from "./CommunityLogoAnimation";
interface Props {
  heading?: string;
  body?: string;
  buttonText?: string;
  buttonLink?: string;
}

const { heading, body, buttonLink, buttonText } = Astro.props;
---

<section class="intro">
  <!-- <CommunityLogoAnimation client:load /> -->
  <Image
    src="/astro/images/bird-in-public-folder.jpg"
    alt="A bird."
    width="50"
    height="50"
  />

  <div id="banner">
    <CommunityLogoAnimation client:load />
    <!-- <h2>{heading}</h2> -->
    <p>{body}</p>
    {
      buttonText && (
        <a class="button-link" href={buttonLink}>
          {buttonText}
        </a>
      )
    }
  </div>
</section>
