---
---
<script src="https://unpkg.com/gsap@3"></script>
<script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
<script type="module" is:inline>
  // import "/astro/gsap/dist/gsap.js";
  
  // import "https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js";
  
  gsap.registerPlugin(ScrollTrigger);
  const IntroVideoRef = document.querySelector(".parallax-two");
  ScrollTrigger.create({
    trigger: IntroVideoRef,
    scrub: true,
    pin: IntroVideoRef,
    markers: true,
  });
console.log('gsap')
</script>
<section class="parallax-two" id="1">
  Test secondary parallax


  asdsdf
  sdfsdf

</section>
